.container{
    
    font-family: "montse";
    background-color: #cccccc;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    height: 50px;
    
}
.container img{
    width: 30px;
}
.container img:hover{
    cursor: pointer;
}
.nav{
   display: flex;

}

.navText{
    cursor: pointer;
}